<!DOCTYPE html>
<html>
<head>
    <title>Editar documentação</title>
</head>
<body>
    <h2>Editar tópico</h2>
    <form action="/edit/{{documento.id}}" method="POST" enctype="multipart/form-data">
        <label>Título:</label><br>
        <input type="text" name="titulo" value="{{ documento.titulo }}" required><br><br>

        <label>Descrição:</label>
        <textarea name="descricao" rows="20" cols="100" required>{{ documento.descricao }}</textarea><br><br>

        <label>Substituir vídeo:</label><br>
        <input type="file" name="video" accept="video/*"><br><br>

        <label>Substituir PDF:</label><br>
        <input type="file" name="pdf" accept="application/pdf"><br><br>

        <input type="submit" value="Salvar alterações">
    </form>
    <br>
    <a href="/">←Voltar</a>
</body>
</html>